body {
  margin: unset;
  padding: 30px;
  font-family: Alata;
  font-size: 24px;
}
h2 {
  font-family: Big Shoulders Display;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  font-size: 60px;
  white-space: nowrap;
  margin: unset;
}
p {
  color: #666666;
  font-size: 20px;
  font-weight: 400;
  margin: unset;
}
a {
  text-decoration: unset;
  color: #333333;
}
li {
  list-style: none;
}
ul {
  margin: unset;
}

header {
  height: 100%;
  width: 100%;
  position: relative;
  animation: growIn 600ms ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes growIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/* Hero background */
.hero-image {
  position: absolute;
  border-radius: 48px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.hero-image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.navbar a {
  color: #fff;
  transition: transform 300ms;
}
.navbar a:hover {
  transform: scale(1.2);
}

/* Menu */
.overlay {
  z-index: 1;
  position: sticky;
}
.menu-overlay {
  background-color: #fffc;
  inset: 0;
  position: fixed;
  transition: all 500ms ease-out; /* transition all properties from close to open and revert with JS toggle */
}
.menu-overlay-close {
  /* transition properties */
  opacity: 0;
  width: 0;
  height: 0;
}
.menu-overlay-open {
  /* transition properties */
  opacity: 1;
  width: inherit;
  height: inherit;
}

.menu-main {
  left: 24px;
  position: fixed;
  right: 24px;
  background-color: #fff;
  border-radius: 0px 0px 48px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px 96px;
  font-size: 54px;
  transition: all 500ms ease-out; /* transition all properties from close to open and revert with JS toggle */
}
.menu-main-close {
  /* transition properties */
  transform: translateY(-700px);
}
.menu-main-open {
  /* transition properties */
  transform: translateY(0px);
}
.menu-main li a {
  color: #333333;
}
.menu-main li {
  transition: transform 300ms;
}
.menu-main li:hover {
  transform: scale(1.2);
}
.close-menu-button {
  align-self: flex-end;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.line {
  background-color: #333333;
  border-radius: 8.33333% / 100%;
  height: 2px;
  width: 24px;
}
.close-left {
  transform: rotate(-45deg);
  transform-origin: 50% 0% 0px;
}
.close-right {
  transform: rotate(45deg);
  transform-origin: 60% 50% 0px;
}

/* Texte défilant */
.title-big-container {
  /* hauteur de la div container > font-size */
  height: 75vh;
}
.title-big-container .text,
.title-big-container .after-content-div:after {
  /* font-size du message et du after content */
  font-size: 50vh;
}
.title-medium-container {
  height: 50vh;
}
.title-medium-container .text,
.title-medium-container .after-content-div:after {
  font-size: 180px;
}
.title-white,
.title-white:after {
  color: #fff;
}
.title-dark,
.title-dark:after {
  color: #333333;
}

.messagedefilant {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.messagedefilant .after-content-div {
  position: absolute;
}

.messagedefilant .after-content-div .text,
.messagedefilant .after-content-div:after {
  font-family: Big Shoulders Display;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.messagedefilant .after-content-div .text {
  animation: defilementSpanText 20s infinite linear;
}

.messagedefilant .after-content-div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  animation: defilementAfterText 20s infinite linear;
}

@keyframes defilementSpanText {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilementAfterText {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

/* About */
.about {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  padding: 200px 24px;
  max-width: 810px;
  margin: auto;
}
.about-left {
  position: sticky;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  top: 120px;
}
.about-left-img-container {
  aspect-ratio: 1 / 1;
  width: 120px;
  height: 120px;
  border-radius: 48px;
}

.about-left-img-container img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
}

/* Button find me */
.button-container {
  width: 100%;
}
.button {
  border: 1px solid #333333;
  height: 100%;
  width: fit-content;
  border-radius: 48px;
  padding: 10px 10px 10px 75px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: auto;
  overflow: hidden;
  background-color: white;
}

.button-arrow {
  background-color: #333333;
  border-radius: 100%;
  width: 72px;
  height: 72px;
  position: relative;
}
.button-arrow-translation {
  transform: translateX(100px) translatey(-100px);
}
.button-arrow svg {
  height: 40px;
  left: calc(50% - 40px / 2);
  position: absolute;
  top: calc(50% - 40px / 2);
  width: 40px;
  fill: rgb(255, 255, 255);
}

/* Lastest */
.card-button-container {
  padding-top: unset !important;
  gap: 24px !important;
}
.card-button {
  width: 238px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  cursor: pointer;
  transition: transform 600ms;
}
.card-button:hover {
  transform: translateY(20px) scale(1.1);
}
.card-button-image {
  aspect-ratio: 1 / 1;
  width: 238px;
  height: 238px;
  border-radius: 48px;
  overflow: hidden;
}
.card-button-image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
}
.card-button-arrow-translation {
  transform: translateX(338px) translateY(-338px);
}
.card-button-city {
  color: #cccccc;
  font-size: 16px;
  margin-top: 10px;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  animation: growIn 600ms ease-out 1s;
  animation-fill-mode: forwards;
}
